<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [3]:
# Nama
print("Hello, my name is Vicky")

name = 'Vicky'
print('Hello, my name is',name)

Hello, my name is Vicky
Hello, my name is Vicky

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [25]:
# Soal a
a = 4
b = 15
c = a*b
print(c/12)


# Soal b
x = pow(8,1/3)
print(x)

# Soal c
uang = 50000
harga = 7500
totalBinder = uang//harga
kembalian = uang - (totalBinder*harga)
print('Kembaliannya adalah Rp.', '{:,.0f}'.format(kembalian), 'dan Catharina mendapat', totalBinder, 'paket kertas binder.')

5.0
2.0
Kembaliannya adalah Rp. 5,000 dan Catharina mendapat 6 paket kertas binder.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [17]:
# Konversi
no1 = int(1000)
print(no1, type(no1))

no2 = int(5)
print(no2, type(no2))

no3 = float(5)
print(no3, type(no3))

no4 = str(1000)
print(no4, type(no4))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [35]:
# 1
a = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals"
print(a[20:31])

# 2
listku =a.split()
print(listku)

# 3
print(a[::-1])

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals']
slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [40]:
# Fakultas
fakultas = ("School of Business and Management", "School of Creative Industry", "School of Tourism", "School of Medicine", "School of Dental Medicine", "School of Psychology", "School of Communication Science and Media Business", "School of Entrepreneurship", "Fakultas Perikanan", "School of Information Technology")
print(len(fakultas))
print(fakultas.index('SIFT'))

10
9

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [51]:
# 1
listku = ['nasi bakar', 'kwetiau goreng', 'bebek goreng']

# 2
for x in listku:
  print(x)

# 3
for x in listku:
  print('Aku ingin pesan', x)

# 4
listku[2] = 'mie goreng'
print('Aku ingin mengganti pesananku', listku[2])

nasi bakar
kwetiau goreng
bebek goreng
Aku ingin pesan nasi bakar
Aku ingin pesan kwetiau goreng
Aku ingin pesan bebek goreng
Aku ingin mengganti pesananku mie goreng

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [14]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
for x in set2:
  set1.add(x)
print(set1)

# 3
no3 = not set1.intersection(set3)
print(no3)

# 4
no4 = set4.issubset(set1)
print(no4)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [43]:
# Program Bayar Listrik
listrik = int(input("Masukkan jumlah penggunaan listrik (kWh): "))
if listrik < 100:
  print('Minimal 100 kWh')
if listrik < 1000:
  biaya = listrik*1000
  print('Tarif listrik yang harus dibayar:Rp',biaya)
else:
  biaya = (listrik*2000)*(110/100)
  print('Tarif listrik yang harus dibayar:Rp',biaya)

Masukkan jumlah penggunaan listrik (kWh): 2000
Tarif listrik yang harus dibayar:Rp 4400000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [29]:
# Program Angkot Abdimas UC
peserta = int(input("Masukkan jumlah peserta:"))
if peserta > 0 :
  jumlahAngkot = peserta//10
  sisaPeserta = peserta%10
  if sisaPeserta != 0:
    jumlahAngkot +=1
  print(jumlahAngkot)
else :
  print('Jumlah orang tidak bisa negatif')

Masukkan jumlah peserta:12
2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [30]:
import numpy as np
# 1
hari = ["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"]

In [32]:
# 2
hari.sort()
print(hari)

['Jumat', 'Kamis', 'Minggu', 'Rabu', 'Sabtu', 'Selasa', 'Senin']

In [40]:
# 3
print("Selamat hari ", np.random.choice(hari),"adalah hari baikmu bulan ini!")

Selamat hari  Senin adalah hari baikmu bulan ini!

In [41]:
# 4
matrix = np.random.randint(1, 7, size=(3,4))
print(matrix)
print(matrix.shape)
print(matrix.ndim)

[[1 1 5 1]
 [1 2 2 1]
 [3 5 1 1]]
(3, 4)
2

In [45]:
# 5
no5 = np.array([
[1 ,2, 3, 4],
[5, 6, 7, 8],
[9, 10, 11, 12]])
print(no5[2])

[ 9 10 11 12]

In [46]:
# 6
no6 = no5.reshape(2,6)
print(no6)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [3]:
import pandas as pd

# 1
data = ["Information", "Systems", "for", "Business"]
series = pd.Series(data)

# 2
df = pd.DataFrame([{ "brand": "Ford", "model": "Mustang", "year": 1964 }])

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [7]:
# 3
Data = pd.read_csv("https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls")

In [10]:
# 4
print(Data['State'].unique())

['New York' 'California' 'Florida']

In [12]:
# 5
newData = Data.sample(n=10)
print(newData.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
37   44069.95        51283.14        197029.42  California   89949.14
5   131876.90        99814.71        362861.36    New York  156991.12
49       0.00       116983.80         45173.06  California   14681.40
41   27892.92        84710.77        164470.71     Florida   77798.83
14  119943.24       156547.42        256512.92     Florida  132602.65

In [13]:
# 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   1 non-null      object
 1   model   1 non-null      object
 2   year    1 non-null      int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [14]:
# 7
no7 = Data[Data['State'] == 'California'] [['R&D Spend', 'Marketing Spend']]
no7

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [17]:
# 8
missing = Data.isnull().sum()
print(missing)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [18]:
# 9
Data.drop(Data[Data["Profit"]<50000].index, inplace = True)

In [20]:
# 10
sort = Data.sort_values(by="Marketing Spend", ascending = False)
sort

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [22]:
# 1
data = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')

In [23]:
# 2
data_random = data.sample(n=10)
data_random

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
383,384,2012.667,29.1,506.1144,4,24.97845,121.53889,40.3
62,63,2012.917,17.2,2175.8770,3,24.96303,121.51254,27.7
298,299,2013.333,16.7,4082.0150,0,24.94155,121.50381,16.7
320,321,2012.750,13.5,4197.3490,0,24.93885,121.50383,18.6
317,318,2012.750,15.6,752.7669,2,24.97795,121.53451,37.5
369,370,2012.667,20.2,2185.1280,3,24.96322,121.51237,22.8
118,119,2013.500,25.3,1583.7220,3,24.96622,121.51709,30.6
39,40,2013.167,16.2,289.3248,5,24.98203,121.54348,46.2
18,19,2013.417,16.9,368.1363,8,24.96750,121.54451,42.3
34,35,2012.750,15.4,205.3670,7,24.98419,121.54243,55.1

In [24]:
# 3
data.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [26]:
# 4
data.drop("No", axis = 1, inplace = True)
data.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area']

In [27]:
# 5
missing = data.isnull().sum()
print(missing)

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64